:root {
  --birth-year: hsl(259, 100%, 65%);
  --error-color: hsl(0, 100%, 67%);

  --card-bg: hsl(0, 100%, 100%);
  --body-bg: hsl(0, 0%, 94%);
  --border-color: hsl(0, 0%, 86%);
  --user-input: hsl(0, 1%, 44%);
  --user-date: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}

label {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--user-input);
  letter-spacing: 0.5rem;
  font-weight: 600;
}

.input-field {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 4rem;
}

input {
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  color: var(--user-date);
  font-size: 2rem;
  padding: 0.8rem 1rem;
  outline: 0;
  width: 80px;
}

input::placeholder {
  color: var(--user-input);
}

main {
  padding: 3rem 2rem;
  background-color: var(--card-bg);
  width: 100%;
  border-radius: 2rem;
  border-bottom-right-radius: 6rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.arrow {
  background-color: var(--birth-year);
  border-radius: 50%;
  border: none;
  padding: 1rem;
  width: 50px;
  position: absolute;
  bottom: -20px;
}
